.days {
  &__list {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;

    &__item {
      text-align: center;
      &__door {
        &__inner {
          border: 1px solid black;
          width: 100px;
          height: 100px;
          margin: 20px;

          &--open {
            background-color: brown;
          }
        }
      }
    }
  }

  &__progressbar {
    background-color: red;
    height: 20px;
  }
}